* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f8eedf;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    background: linear-gradient(135deg, rgba(58,163,169,1) 30%, rgba(50,146,155,1) 35%, rgba(65,100,125,1) 61%, rgba(51,70,93,1) 78%);
    box-shadow: 0rem 1.5rem 1.6rem -0.8rem #333;
    padding: 2rem 4rem;
    border-radius: 1rem;
    position: relative;
}

.weather-values {
    color: #fff;
    height: 15rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.location-text {
    font-size: 1rem;
}

img {
    width: 5rem;
    height: auto;
}

.temp-value {
    font-size: 5rem;
    align-self: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-value {
    border-radius: 0.6rem;
    border: none;
    outline: none;
    color: #333;
    height: 2rem;
    width: 10rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.btn {
    display: block;
    padding: 0.5rem 0.8rem;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    background: #3aa3a9;
    color: #fff;
    box-shadow: 0.1rem 0.1rem 0.4rem #333;
    cursor: pointer;
    transition: background 300ms ease;
}

.btn:hover {
    background: #31868a;
}

/* Error Handler */
.error-popup {
    width: 80%;
    height: 3rem;
    background: #fff;
    border-radius: 0.3rem;
    position: absolute;
    left: 10%;

    display: none;
}

.error-message {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
}

.error-popup i {
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    font-size: 1.2rem;
    color: rgb(189, 189, 189);
    cursor: pointer;
}

.error-popup i:hover {
    color: rgb(160, 160, 160);
}